<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portafolio Jesus Aguirre</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='img/favicon.ico')}}" rel="icon">
 
  <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='img/apple-icon-57x57.png')}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='img/apple-icon-60x60.png')}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='img/apple-icon-72x72.png')}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='img/apple-icon-76x76.png')}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='img/apple-icon-114x114.png')}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='img/apple-icon-120x120.png')}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='img/apple-icon-144x144.png')}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='img/apple-icon-152x152.png')}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='img/apple-icon-180x180.png')}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('static', filename='img/android-icon-192x192.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='img/favicon-96x96.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favicon-16x16.png')}}">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">



  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">


</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{url_for('static', filename= 'img/jesus.jpg')}}" alt="" class="img-fluid ">
        <h1 class="text-light"><a href="index.html">Jesus Aguirre</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/JesusxAguirre" class="twitter"><i class="bx bxl-github"></i></a>

          <a href="//wa.me/584122689578" class="instagram"><i class="bx bxl-whatsapp"></i></a>

          <a href="https://www.linkedin.com/in/jesus-david-aguirre-bastidas-12b349242" class="linkedin"><i
              class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
              <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center ">
    <div class="hero-container " style="margin-top: 20em;" data-aos="fade-in">
      <h1>Jesús Aguirre</h1>
      <p>I'm <span class="typed" data-typed-items="Back-end Developer,Front-end Developer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am a Computer Engineering student, currently in
            the final year of my degree. I am a passionate
            programmer with a strong desire to keep learning
            every day. I enjoy being in environments that foster
            continuous learning and being surrounded by
            people with more experience than me. I value
            teamwork and consider myself proactive, decisive,
            and collaborative.
            .
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{url_for('static', filename='img/jesus.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Web Developer.</h3>
            <p class="fst-italic">
              I am a web developer specialized in backend programming. My favorite technology for programming is Python
              and its frameworks.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>4 Jun 1999</span></li>

                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+58 412 268 9578</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Cabudare, Venezuela</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Ingenering</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>99jesus.aguirre@gmail.com</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              In addition to the professional aspects, I also love animals and philosophical topics. I have a deep
              appreciation for music, especially classical music, as I attended a conservatory when I was younger. I
              enjoy having fun and I value the balance between work and personal time because life is not all about
              work. Although I am very happy to have found a career that I am passionate about, I still have a desire to
              experience more things with the money I can earn, such as traveling the world, learning to play the piano,
              and starting a family.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>That's a great mindset to have! Being open to new challenges and embracing new technologies is essential in
            today's rapidly evolving tech industry. It shows your willingness to adapt and grow as a professional. With
            your current skills and your eagerness to learn, you'll be well-prepared to take on new opportunities and
            expand your expertise. Keep exploring and embracing new technologies, and you'll continue to thrive in your
            career.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">PYTHON <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">FLASK <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">GIT <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">JSON & XML <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">SqlAlchemy (ORM) <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Development of asynchronous applications (AJAX) <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Methods of web security & Responding to the browser with HTTP status codes <i
                  class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">HTML <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MVC <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">SCRUM <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>


            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Informatic Engineering </h4>
              <h5>2019 - Present</h5>
              <p><em> Universidad Politecnica Terrirtorial Andres Eloy Blanco, VE</em></p>

            </div>
            <div class="resume-item">
              <h4>Course Pildoras informaticas Python tutorizado </h4>
              <h5>2022 - Present</h5>
              <p><em>https://www.pildorasinformaticas.es/</em></p>
              <p>Led by a globally renowned programming instructor, the creator of the YouTube channel "Píldoras
                Informáticas," this course has been instrumental in my learning journey over the years. It covers Python
                from beginner to advanced levels, and I am currently in the final modules focusing on machine learning.
                You can also review the course syllabus on their website.
              </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Freelancer FRON-END Developer</h4>
              <h5>2020 - 2021</h5>
              <p><em>Remote </em></p>
              <ul>
                <li>I worked as a front-end developer with the Vue framework for an English company that was creating a
                  wallet.</li>

              </ul>
            </div>
            <div class="resume-item">
              <h4>Intership as a web developer.</h4>
              <h5>2022 - 2023</h5>
              <p><em>Ministerio Apostolico La Roca. Estado Lara. Venezuela </em></p>
              <ul>
                <li>Although the title says "web developer internships," I actually performed various roles in a web
                  development cycle, including requirements analyst, software engineer following the SCRUM methodology,
                  and full-stack programmer. I used different tools and methodologies throughout the process. I worked
                  in a team of two people, and these internships were part of my university thesis.

                </li>
                <li>The objective of the web development project was to create software to manage various processes that
                  were being done manually in the community. This included tasks such as handling payments, tracking
                  attendance to church services, managing affiliated members, tracking assigned pastors, and generating
                  various statistical reports for decision-making purposes.</li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Here are some of the applications I have created using Python with the framework Flask,
            utilizing skills such as JavaScript, AJAX, Web security, among other mentioned abilities...</p>


          <div class="container py-5 mt-5 mb-2 mb-sm-3 mb-lg-4 mb-xxl-5">


            <!-- Page title-->
            <div class="row">
              <div class="col-lg-11 col-xl-10">
                <h1 class="display-2 pb-3 pb-md-4 pb-lg-5">Weather APP</h1>
              </div>
            </div>
            <!-- Main image--><img class="d-block rounded-5 mb-3 mb-xl-4 mb-xxl-5 img-fluid"
              src="{{url_for('static', filename='img/portfolio/Weather-app.png')}}" alt="Image">
            <!-- Project overview-->
            <div class="border-bottom py-4 py-lg-5">

            </div>
            <!-- Project description-->
            <div class="border-bottom py-md-2 py-lg-3 py-xl-4 py-xxl-5">
              <div class="row my-5">
                <div class="col-md-10 col-lg-8 col-xl-7">
                  <h2 class="h1 pb-2">About the idea </h2>
                  <p class="fs-lg">The idea of the project was to consume a weather application using the API from the
                    website https://openweathermap.org/api, with the aim of testing different back-end and front-end
                    skills, and most importantly, practicing the consumption of APIs, which is a commonly used feature
                    in web development.</p>
                  <h2 class="h1 pt-3 pt-sm-4 pt-xl-5 pb-2">The challenge</h2>
                  <p class="fs-lg">The challenge was to design the database in a way that would store the city name
                    parameter, as it is used to make the request to the API. Additionally, the project involved using
                    AJAX methods for asynchronous requests and implementing backend validations to handle invalid cases
                    and provide appropriate responses to the user.</p>
                  <h2 class="h1 pt-3 pt-sm-4 pt-xl-5 pb-2">The solution</h2>
                  <p class="fs-lg mb-0">The solution involved creating a simple table with a unique ID field and another
                    field called "name," using the SQLAlchemy ORM. The project follows the MVC (Model-View-Controller)
                    design pattern, where only objects of the Weather class interact. In the controller, most exceptions
                    are validated, including data type validations, and most importantly, the validation of the
                    existence of the city. In case of an error, an error blueprint called "errors.py" captures all the
                    application errors and returns JSON error messages to the browser with an appropriate HTTP status
                    code, as well as to the AJAX request.

                  </p>
                  <br>
                  <p class="fs-lg mb-0">
                    The rest of the mechanisms are straightforward. When displaying the main page, all rows from the
                    "weathers" table are first queried. Then, for each row, the "name" property is extracted, and it is
                    sent as a URL parameter to the consumed API. The response is stored in a dictionary, which is then
                    added to a list. After looping through each row in the table, this list, containing dictionaries, is
                    sent to the Jinja template. The Jinja "for" statement is used to iterate through the list and
                    display the data accordingly..</p>
                </div>
              </div>
            </div>





          </div>
          <div class="container py-5 mt-5 mb-2 mb-sm-3 mb-lg-4 mb-xxl-5">


            <!-- Page title-->
            <div class="row">
              <div class="col-lg-11 col-xl-10">
                <h1 class="display-2 pb-3 pb-md-4 pb-lg-5">Flask APP</h1>
              </div>
            </div>
            <!-- Main image--><img class="d-block rounded-5 mb-3 mb-xl-4 mb-xxl-5 img-fluid"
              src="{{url_for('static', filename='img/portfolio/Flask-admin.png')}}" alt="Image">

            <div class="text-center">
              <!-- Main image--><img class=" rounded-5 mb-3 mb-xl-4 mb-xxl-5 img-fluid"
                src="{{url_for('static', filename='img/portfolio/registrarse-admin.png')}}" alt="Image">
            </div>
            <div class="text-center">
              <!-- Main image--><img class=" rounded-5 mb-3 mb-xl-4 mb-xxl-5 img-fluid"
                src="{{url_for('static', filename='img/portfolio/Login-admin.png')}}" alt="Image">
            </div>
            <!-- Main image--><img class="d-block rounded-5 mb-3 mb-xl-4 mb-xxl-5 img-fluid"
              src="{{url_for('static', filename='img/portfolio/recuperar-admin.png')}}" alt="Image">
            <!-- Project overview-->
            <div class="border-bottom py-4 py-lg-5">

            </div>
            <!-- Project description-->
            <div class="border-bottom py-md-2 py-lg-3 py-xl-4 py-xxl-5">
              <div class="row my-5">
                <div class="col-md-10 col-lg-8 col-xl-7">
                  <h2 class="h1 pb-2">About the idea </h2>
                  <p class="fs-lg">That sounds like a great project to test and showcase your skills as a programmer,
                    especially with Python and Flask. Creating a versatile and customizable administrative panel for
                    companies, where additional functionalities can be easily added, is a valuable endeavor. It's an
                    excellent opportunity to explore various aspects, such as security, the MVC model, and the use of
                    blueprints in Flask.

                    By building features like user login, password recovery, user registration, user management, and
                    role administration, you'll not only gain hands-on experience but also address important security
                    considerations. Overall, this project will allow you to deepen your understanding of web development
                    concepts and enhance your ability to create robust and secure applications.</p>
                  <h2 class="h1 pt-3 pt-sm-4 pt-xl-5 pb-2">The challenge</h2>
                  <p class="fs-lg">The challenge was to design the database in a way that would store the city name
                    parameter, as it is used to make the request to the API. Additionally, the project involved using
                    AJAX methods for asynchronous requests and implementing backend validations to handle invalid cases
                    and provide appropriate responses to the user.</p>
                  <h2 class="h1 pt-3 pt-sm-4 pt-xl-5 pb-2">The solution</h2>
                  <p class="fs-lg mb-0">
                    The most important part of this project is the security of information and access to different
                    system pages. Although I would like to go into detail about the mechanisms used, it might be a bit
                    lengthy, so if you want to delve into it, you can find the project on my GitHub. Feel free to send
                    me a message, either via WhatsApp or email, if you'd like to discuss it further.
                  </p>
                  <br>
                  <p class="fs-lg mb-0">
                    To summarize, I used Flask-Login, a Flask plugin, for user session management. I utilized its
                    decorator for routes that required logged-in users. Additionally, I verified the user's role at the
                    beginning of each route. You can review this in the code.</p>
                  <br>
                  <p class="fs-lg mb-0">
                    For this purpose, I created a user table with basic user data and a role field. Although I
                    considered using a relational table, I wanted to keep the project simple and not make it more
                    complex than necessary.
                  </p>
                  <br>
                  <p class="fs-lg mb-0">
                    Similar to the previous project, I followed the MVC design pattern, adhering to the theory of
                    abstraction layers, where only user objects are handled in the back-end. The majority of validations
                    are performed in the controller using an additional validation module called helpers.py. It contains
                    various validations, ranging from regular expressions to database checks.
                  </p>
                  <br>
                  <p class="fs-lg mb-0">
                    Furthermore, I implemented different asynchronous requests using AJAX, employing various HTTP
                    methods such as GET, POST, UPDATE, and DELETE. I handled different error codes for incorrect
                    requests. For certain errors, such as 404 or 422 for invalid page accesses, I created customizable
                    HTML pages to enhance the user experience.
                  </p>

                </div>
              </div>
            </div>





          </div>




        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>These are the different services I can offer as a web developer.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Responsive website development</a></h4>
            <p class="description">All your websites will be visible on all possible devices, adding great diversity to
              the website.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Requirements analysis</a></h4>
            <p class="description">I will assist you in identifying the functional requirements of your business idea or
              the challenges within your company. I can help you analyze and define the specific requirements for your
              project, whether it's a new business venture, addressing existing issues, or exploring new ideas. </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">
                Application deployment on AWS </a></h4>
            <p class="description">I can help you to deploy you aplicaction if you have a domain name</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">API development</a></h4>
            <p class="description">I can create APIs that allow your information to be easily consumed by your front-end
              application.</p>
          </div>


        </div>

      </div>
    </section><!-- End Services Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>In this space, I'll provide you with my contact information, as well as a form through which you can send
            me an email if you wish.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Lara, Venezuela</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>99jesus.aguirre@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+58 412 268 9678</p>
              </div>


            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/" id="formulario" method="post" role="form" class="php-email-form" novalidate>
              <div class="row">
                <div id="grupo__name">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input maxlength="12" type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <p class="text-danger d-none">Este campo debe tener minimo 5 letras</p>
                </div>
                <div id="grupo__email">
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input maxlength="70" type="email" class="form-control" name="email" id="email" required>
                  </div>
                  <p class="text-danger d-none">Debe tener formato de email.</p>
                </div>
              </div>
              <div id="grupo__asunto">
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input maxlength="12" type="text" class="form-control" name="asunto" id="asunto" required>
                </div>
                <p class="text-danger d-none">Este campo debe tener minimo 5 letras</p>
              </div>
              <div id="grupo__mensaje">
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea maxlength="200" class="form-control" name="mensaje" rows="10" required></textarea>
                </div>
                <p class="text-danger d-none"> Este campo no puede estar vacio y debe tener minimo 10 letras </p>
              </div>

              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Jesus Aguirre 2023</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="https://github.com/JesusxAguirre">Jesus Aguirre</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/typed//typed.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/waypoints/noframework.waypoints.js')}}"></script>
  
  

  <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/sweetalert2.js')}}"></script>
  <script src="{{url_for('static', filename='js/validacion.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename= 'js/main.js')}}"></script>

</body>

</html>